// Customize the container around the Versatile Banner theme component
.banner-box {
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
}

// For the descriptions (usually <p> tags in the Versatile banner) that
// precede the lists in Versatile Banner theme component columns.
.rubin-banner-column-description {
  text-align: left;
}

// For the item lists in each Versatile Banner theme component.
.rubin-banner-list {
  text-align: left;
}

// Give the unread count tag on the user avatar in the header a more
// suitable color for the dark header backgound. Also for unread count in the post listing.
.d-header-icons .unread-notifications,
.badge-notification.new-posts,
.badge-notification.unread-posts {
  background-color: var(--tertiary);
}

// Color of read state dot on a post (next to the post's age)
.read-state {
  color: var(--tertiary);
}

// Color of unread icon in post listing on homepage
.badge-notification.new-topic::before {
  background: var(--tertiary);
}
